// general
@import "./reset"; // global css reset
@import "./variables"; // style variables container for colors, fonts and other global styles
@import "./container"; // main container

// pages
@import "../pages/Home/Styles";
@import "../pages/FindLocation/Styles";
@import "../pages/TripPlanner/Styles";
@import "../pages/ResultsPage/Styles";
@import "../pages/NotFound/Styles";

// components
@import "../components/Navbar/Styles";
@import "../components/ErrorMessage/Styles";
@import "../components/TripCostWidget/Styles";

* {
  // outline: 1px solid #ff00ff55;
}

body {
  font-family: $--font-main;
  color: $--c-black;
  background-color: $--c-white;
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: overlay;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-weight: 200;
}

h1 {
  font-weight: 300;
}

h2 {
  font-size: $--font-xl;
  font-weight: 300;
}

p {
  font-size: $--font-md;
}

a {
  text-decoration: none;
  color: $--c-black;
}

ul {
  padding: 0;
}

img {
  pointer-events: none; //disable image copy/drag
}

button {
  all: unset;
  text-align: center !important;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #8f54a0 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: $--c-black;
}

*::-webkit-scrollbar-thumb {
  background-color: $--c-white;
  border-radius: 10px;
  border: 1px solid slategray;
}

//----------------------------------
//media queries
//----------------------------------

@media only screen and (max-width: 768px) {
  h1 {
    font-size: $--font-xl;
  }

  h2 {
    font-size: $--font-lg;
    font-weight: 300;
  }

  p {
    font-size: $--font-md;
  }

  a {
    text-decoration: none;
    color: $--c-black;
  }

  ul {
    padding: 0;
  }
}
