.home__container {
  height: calc(100vh - 58px);
  background-image: url("https://images.unsplash.com/photo-1519114056088-b877fe073a5e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1633&q=80");
}

.home__planet {
  font-size: 4rem;
}

.home__title {
  display: flex;
  gap: 1.5rem;
  align-items: center;

  color: white;
}

.home__history {
  padding: 1rem 2rem;
  background-color: white;
  box-shadow: $--box-shadow-standard;
  border-radius: 8px;
  width: 60%;

  span {
    margin: 0 0 0.5rem;
    font-size: 1.1rem;
    font-weight: 400;
  }

  ul {
    display: flex;
    flex-direction: column;

    li {
      margin: 0.3rem 0.5rem;
    }
  }
}

.home__history__empty {
  margin: 1rem 0 0;

  a {
    color: $--c-primary-dark;
  }
}

.home__history__locations__item {
  font-weight: 300;
}
