nav ul {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem 2rem;
  margin: 0;

  align-items: center;
  font-size: 1.1rem;

  li a {
    font-weight: 200;
  }

  li span:hover {
    color: green;
  }
}
