.trip-planner__cost-widget {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  margin: 2rem 0 0 0;
  padding: 1rem;
  background-color: white;
  border-radius: 6px;
  box-shadow: $--box-shadow-standard;

  button {
    width: 6rem;
    background-color: greenyellow;
  }

  button:hover {
    background-color: lime;
  }
}

.trip-planner__cost-widget__icon {
  width: 3rem;
  opacity: 0.7;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}